.selectedPoint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 13px;
}

.selectedPoint > .span {
  font-family: monospace;
}

.selectedPoint > div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.colorCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 6px;
}
